<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Tania</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a Microbiologist first and Mycologist second, fascinated with all things micro, and fungal. </font></p>
                <p><font size="4px"> I earned my M.S. in Biology from California State University, Northridge(2016) and Bachelors in Microbiology B.S from California State University, Northridge (2013). My main goal was to integrate microbiology, mycology and bioinformatics. </font></p>
                <p><font size="4px"> After a year and a half working in a private company in Brazil, I joined <a href="http://girke.bioinformatics.ucr.edu/">Professor Thomas Girke Lab</a> at <a href="https://www.ucr.edu/">UCR</a> in 2017. My current research focuses on the development of computational <a href="http://girke.bioinformatics.ucr.edu/systemPipeR/">data analysis</a> methods for genome biology. My main interests are the development of integrated systems for NGS data analysis for R and Bioconductor open source software projects. The following gives a short summary of my career and the current projects.</font></p>
                
             <br/>
        </div>
    </div>
</section>






