    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/grayscale.js"></script>

    {% if site.google-tracking-id %}
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109338886-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109338886-1');
</script>

    {% endif %}
